.dashboard {
  /* border: 3px solid orange; */
  padding: 0 20px;
  /* background-color: rgba(255, 153, 0, 0.3); */
  background-color: whitesmoke;
}
.dashboard > h4 {
  margin-top: 35px;
}

.user-info {
  /* background-color: wheat; */
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.break-container {
  /* background-color: wheat; */
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.break-container button {
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
}

.break-container button:hover {
  background-color: rgb(222, 189, 129);
}

.time {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: wheat; */
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}
.time p {
  font-size: medium;
  font-weight: 500;
}
.btn-complete {
  margin: 10px 20%;
}
